{% load static from static %} <!-- -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Article List</title>
</head>
<body>
    <header class="wrapper">
        <h1><a href="{% url 'articles:list' %}"></a></h1>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'articles:list' %}">Articles</a></li>
                <li>
                    <form class="logout-link" action="{% url 'accounts:logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
                </li>
                <li><a href="{% url 'articles:create' %}" class="highlight">New article</a></li>
                {% else %}
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'accounts:login' %}">Log In</a></li>
                <li><a href="{% url 'accounts:signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
        </header>
        <div class="wrapper">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>